<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                             https://jakarta.ee/xml/ns/jakartaee/web-app_6_1.xsd"
         id="WebApp_ID"
         version="6.1">
  
  <!-- App Display Name -->
  <display-name>Loterias Web</display-name>
  
  <!-- App Description -->
  <description>Aplicação para consulta de informações sobre as loterias.</description>
  
  <!-- State Saving Method -->
  <context-param>
    <param-name>jakarta.faces.STATE_SAVING_METHOD</param-name>
    <param-value>server</param-value>
  </context-param>
  
  <!-- Path Config Files -->
  <context-param>
    <param-name>jakarta.faces.CONFIG_FILES</param-name>
    <param-value>WEB-INF/faces-config.xml</param-value>
  </context-param>
  
  <!-- Project Stage -->
  <context-param>
  	<param-name>jakarta.faces.PROJECT_STAGE</param-name>
  	<param-value>Development</param-value>
  </context-param>
  
  <!-- Faces Servlet Mapping -->
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>jakarta.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.xhtml</url-pattern>
  </servlet-mapping>
  
  <!-- Welcome Files Mapping -->
  <welcome-file-list>
  	<welcome-file>loterias</welcome-file>
  </welcome-file-list>
  
  <!-- Errors Mapping -->
  <error-page>
  	<error-code>400</error-code>
  	<location>/pages/error/error.xhtml</location>
  </error-page>
  <error-page>
  	<error-code>401</error-code>
  	<location>/pages/error/error.xhtml</location>
  </error-page>
  <error-page>
  	<error-code>402</error-code>
  	<location>/pages/error/error.xhtml</location>
  </error-page>
  <error-page>
  	<error-code>403</error-code>
  	<location>/pages/error/error.xhtml</location>
  </error-page>
  <error-page>
  	<error-code>404</error-code>
  	<location>/pages/error/error.xhtml</location>
  </error-page>
  <error-page>
  	<error-code>405</error-code>
  	<location>/pages/error/error.xhtml</location>
  </error-page>
  <error-page>
  	<error-code>406</error-code>
  	<location>/pages/error/error.xhtml</location>
  </error-page>
  <error-page>
  	<error-code>407</error-code>
  	<location>/pages/error/error.xhtml</location>
  </error-page>
  <error-page>
  	<error-code>408</error-code>
  	<location>/pages/error/error.xhtml</location>
  </error-page>
  <error-page>
  	<error-code>409</error-code>
  	<location>/pages/error/error.xhtml</location>
  </error-page>
  <error-page>
  	<error-code>410</error-code>
  	<location>/pages/error/error.xhtml</location>
  </error-page>
  <error-page>
  	<error-code>411</error-code>
  	<location>/pages/error/error.xhtml</location>
  </error-page>
  <error-page>
  	<error-code>412</error-code>
  	<location>/pages/error/error.xhtml</location>
  </error-page>
  <error-page>
  	<error-code>413</error-code>
  	<location>/pages/error/error.xhtml</location>
  </error-page>
  <error-page>
  	<error-code>414</error-code>
  	<location>/pages/error/error.xhtml</location>
  </error-page>
  <error-page>
  	<error-code>415</error-code>
  	<location>/pages/error/error.xhtml</location>
  </error-page>
  <error-page>
  	<error-code>416</error-code>
  	<location>/pages/error/error.xhtml</location>
  </error-page>
  <error-page>
  	<error-code>417</error-code>
  	<location>/pages/error/error.xhtml</location>
  </error-page>
  <error-page>
  	<error-code>418</error-code>
  	<location>/pages/error/error.xhtml</location>
  </error-page>
  <error-page>
  	<error-code>421</error-code>
  	<location>/pages/error/error.xhtml</location>
  </error-page>
  <error-page>
  	<error-code>422</error-code>
  	<location>/pages/error/error.xhtml</location>
  </error-page>
  <error-page>
  	<error-code>423</error-code>
  	<location>/pages/error/error.xhtml</location>
  </error-page>
  <error-page>
  	<error-code>424</error-code>
  	<location>/pages/error/error.xhtml</location>
  </error-page>
  <error-page>
  	<error-code>425</error-code>
  	<location>/pages/error/error.xhtml</location>
  </error-page>
  <error-page>
  	<error-code>426</error-code>
  	<location>/pages/error/error.xhtml</location>
  </error-page>
  <error-page>
  	<error-code>428</error-code>
  	<location>/pages/error/error.xhtml</location>
  </error-page>
  <error-page>
  	<error-code>429</error-code>
  	<location>/pages/error/error.xhtml</location>
  </error-page>
  <error-page>
  	<error-code>431</error-code>
  	<location>/pages/error/error.xhtml</location>
  </error-page>
  <error-page>
  	<error-code>451</error-code>
  	<location>/pages/error/error.xhtml</location>
  </error-page>
  <error-page>
  	<error-code>500</error-code>
  	<location>/pages/error/error.xhtml</location>
  </error-page>
  <error-page>
  	<error-code>501</error-code>
  	<location>/pages/error/error.xhtml</location>
  </error-page>
  <error-page>
  	<error-code>502</error-code>
  	<location>/pages/error/error.xhtml</location>
  </error-page>
  <error-page>
  	<error-code>503</error-code>
  	<location>/pages/error/error.xhtml</location>
  </error-page>
  <error-page>
  	<error-code>504</error-code>
  	<location>/pages/error/error.xhtml</location>
  </error-page>
  <error-page>
  	<error-code>505</error-code>
  	<location>/pages/error/error.xhtml</location>
  </error-page>
  <error-page>
  	<error-code>506</error-code>
  	<location>/pages/error/error.xhtml</location>
  </error-page>
  <error-page>
  	<error-code>507</error-code>
  	<location>/pages/error/error.xhtml</location>
  </error-page>
  <error-page>
  	<error-code>508</error-code>
  	<location>/pages/error/error.xhtml</location>
  </error-page>
  <error-page>
  	<error-code>510</error-code>
  	<location>/pages/error/error.xhtml</location>
  </error-page>
  <error-page>
  	<error-code>511</error-code>
  	<location>/pages/error/error.xhtml</location>
  </error-page>
  
  <!-- Resource Ref CDI -->
  <resource-ref>
  	<description>CDI Bean Manager</description>
  	<res-ref-name>BeanManager</res-ref-name>
  	<res-type>jakarta.enterprise.inject.spi.BeanManager</res-type>
  	<res-auth>Container</res-auth>
  </resource-ref>
  
  <!-- App Listener Mapping -->
  <listener>
  	<listener-class>br.com.loteriasweb.listener.LoteriasListener</listener-class>
  </listener>
</web-app>